* {
    color: #dadada;
}

.main-table {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.inside-main-table {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.sub-table {
    max-height: 50vh;
    background-color: rgb(43 52 57);
    border-radius: 1.5vh;
    overflow-y: auto;
}

.sub-table-scroll {
    height: 100%;
}

table {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

th {
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2vh;
    background-color: rgb(43 52 57);
}

h2 {
    font-size: 2.5vh;
}

h2>.text {
    display: inline-block;
}

button {
    font-size: 2vh;
    border-width: 0.1vh;
    background-color: rgb(35, 35, 35);
    border: unset;
    border-radius: 1vh;
    padding: 0.5vh 1vh;
}

button:disabled {
    background-color: rgb(50, 50, 50);
}

button:hover,
button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

button:hover:disabled {
    cursor: default;
    color: unset;
}

.options {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgb(43 52 57);
    border-radius: 1.5vh;
    font-size: 2.5vh;
}

.option {
    display: flex;
    flex-basis: 0;
    margin: 1vh 2vh 1vh 2vh;
    flex-direction: row;
    justify-content: flex-start;
}

.tittle-autobook,
.tittle-bookings {
    display: flex;
}

.tittle-autobook>button {
    margin: 0 2vh;
    transform: translate(0, 50%);
    height: 3vh;
    right: 0;
}

input.text {
    width: 10vh !important;
    height: 3vh !important;
}

p {
    margin: 0;
    height: fit-content;
}

input {
    height: 3vh;
    margin-top: 0;
    margin-bottom: 0;
    aspect-ratio: 1/1;
    font-size: 1.5vh;
    border-width: 0.1vh;
}

select {
    display: block;
    margin: 0 auto;
    font-size: 1.5vh;
    border: unset;
    background-color: rgb(35, 35, 35);
    border-radius: 1vh;
}

.th {
    display: flex;
}

.interaction {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}

.month-select {
    margin: 0 2vh;
}

.tr-sticky {
    position: sticky;
    top: 0;
    display: table-row;
}

.th-id {
    max-width: 25vh;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow-down {
    display: flex;
    margin-top: 1vh;
}

.arrow-down>p {
    display: table-cell;
    font-size: 3vh;
    padding: 1vh;
}

.arrow-down>button {
    float: right;
    border-width: 0;
    font-size: 3vh;
    background-color: rgb(43 52 57);
    width: 100%;
}

.arrow-down>button>img {
    width: 4vh;
    float: right;
}

.arrow-down>button#button-trash {
    width: auto;
}

.arrow-down>button>img {
    height: 3.5vh;
    float: right;
    pointer-events: none;
}

.arrow-down>button#button-trash {
    width: auto;
}

.tittle-bookings>button {
    width: 100%;
    float: right;
    height: 4vh;
    transform: translate(0, 50%);
    border-width: 0;
    background-color: rgba(255, 255, 255, 0);
}

.tittle-bookings>button>img {
    float: right;
    height: 100%;
    transform: translate(0, -25%);
}

.tittle-bookings>div {
    float: right;
    height: 4vh;
    transform: translate(0, 50%);
    transition: 250ms;
}

input[type="text"] {
    float: right;
    height: 100%;
    transform: translate(0, -25%);
    width: 100%;
    outline: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(84, 91, 94);
    border-bottom-width: 0.25vh;
    font-size: 2vh;
    background-color: #2e2e2e;
    border-radius: 0.5vh;
}

.email-text {
    margin: 0 2vh;
    min-width: 20vh;
    max-width: 75vh;
}

button#edit-button {
    border: unset;
    background: unset;
    height: 3vh;
    padding: 0;
    aspect-ratio: 1/1;
}

button#edit-button img {
    width: 100%;
    height: 100%;
}

option:disabled {
    color: rgb(136, 136, 136);
}

.sub-table-two {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-table>h2 {
    text-align: center;
    padding: 0vh 5vh;
}

.fake-file-button {
    top: 50%;
    background-color: rgb(35, 35, 35);
    border-radius: 1vh;
    padding: 0.5vh;
    grid-row-start: 1;
    grid-column-start: 1;
}

.new-book-img {
    text-align: right;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    cursor: pointer;
}

th.pick-file {
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
}

.new-class-text-input,
.new-book-text-input {
    height: 3vh !important;
    width: 30vh !important;
    margin: 1vh !important;
}

th>img {
    max-width: 5vh;
}