@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.hero {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #4a00a3, #0072f8);
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 5vh;
}

#calendar {
  width: 100%;
  height: 100%;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;
  z-index: 2;
}

.modal-content {
  margin: auto;
  max-width: 75vh;
  padding: 4vh;
  border: 1px solid #888;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  background-color: #191b1c;
  border-color: #52585c;
  box-shadow: #00000026 5px 0px 18px -3px;
}

.close {
  color: #b2aca2;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#s.hora.inicio {
  position: absolute;
  top: 20px;
  left: 1000px;
}

.container-columns {
  display: flex;
  column-gap: 10px;
  font-size: 2vh;
}

.container-rows-f,
.container-rows-s {
  width: 90%;
}

label,
input,
select {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
  width: calc(100% + 12px);
}

input.submit {
  font-size: 2vh;
  font-weight: bold;
  border-radius: 20px;
  border-width: 0;
  background-color: #a692e0;
  width: 20%;
  color: #000;
  align-self: end;
  padding: 0.5vh;
  display: inline-block;
}

input.submit:hover,
input.submit:focus {
  cursor: pointer;
  background-color: #6c72bf;
}

form.form {
  transform: scale(1.5);
}

p.red {
  color: red;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2vh;
  margin: 2vh 0 2vh 0;
}

h1.tittle {
  font-family: "Josefin Sans", sans-serif;
  align-self: center;
}

input,
select {
  border: unset;
  border-radius: 1vh;
  font-size: 2vh;
  background-color: #282a2d;
  color: #fff;
}

input {
  cursor: unset;
}

.addevent-button-icon {
  position: relative;
  padding: 10px;
  width: 60px;
  height: 60px;
  transform: translate(0, -50%);
  top: 50%;
  aspect-ratio: 1/1;
}

.addevent-button-icon::before {
  left: 24px;
}

.addevent-button-icon-plus {
  height: 100%;
  text-align: center;
  font-size: xx-large;
}

.addevent-button {
  position: relative;
  display: flex;
  width: 100%;
  height: 10vh;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  float: left;
  border-style: none;
  background-color: #181a1b;
  box-shadow: 0 1px 8px -4px rgb(0 0 0 / 65%);
}

.addevent-button:last-child.addevent-button::before {
  height: 30px;
  transform: translate(29px, 0);
}

.addevent-button:only-child.addevent-button::before {
  height: 0;
  opacity: 0;
}

.addevent-button:hover {
  background-color: #181a1b;
  -webkit-box-shadow: #000000a6 0px 3px 12px -4px;
  box-shadow: #000000a6 0px 3px 12px -4px;
}

.addevent-button>.event-icon {
  position: relative;
  padding: 20px;
  width: 60px;
  height: 60px;
  float: left;
}

.addevent-button>.event-info {
  align-self: center;
  width: calc(100% - 60px);
  display: inline-block;
  padding: 10px 10px 10px 0;
}

.addevent-button>.event-info>p {
  margin: 0;
  color: #afa89e;
}

.addevent-button>.event-info>p.event-title {
  position: relative;
  font-size: 22px;
  font-weight: 600;
}

.return-button {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  float: left;
  border-style: none;
  background-color: #644da3;
  height: 10vh;
  border-radius: unset;
  transition: all 0.3s ease, transform 0.5s ease, -webkit-transform 0.5s
}

.return-button:last-child.return-button::before {
  height: 30px;
  transform: translate(29px, 0);
}

.return-button:only-child.return-button::before {
  height: 0;
  opacity: 0;
}

.return-button:hover {
  background: #311e69;
}

.return-button>.event-info {
  align-self: center;
  width: 100%;
  display: inline-block;
  padding: 10px 10px 10px 0;
}

.return-button>.event-info>p {
  margin: 0;
  color: #fff;
}

.return-button>.event-info>p.event-title {
  position: relative;
  font-size: 15px;
  font-weight: 600;
}

.time-picker {
  display: flex;
}

.message {
  display: none;
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 2;
  width: fit-content;
  transform: translate(-50%, 50%);
}

.message>p {
  margin: auto;
  padding: 2vh;
  font-size: 3vh;
  text-align: center;
  border-radius: 1vh;
  background-color: rgb(179 255 158);
  --background-color: rgb(255, 143, 143);
}

button {
  position: absolute;
  z-index: 2;
  width: 5vh;
  aspect-ratio: 1 / 1;
  font-size: 4vh;
  font-weight: bold;
  background-color: #bda5ff;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 100vh;
}

.b0 {
  left: 5vh;
}

.b1 {
  right: 5vh;
}