*{
    color: #dadada;
}

.centered-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 50vh;
}

h3 {
    transform: unset;
    width: unset;
    font-size: 3.5vh;
    color: white;
}

p {
    color: white;
    font-size: 2vh;
    text-align: center;
}

textarea {
    width: 100%;
    height: 20vh;
    border: unset;
    font-size: 2vh;
    background-color: #2e2e2e;
    border-radius: 0.5vh;
    color: white;
    text-align: center;
}

.submit {
    width: 20vh;
    font-size: 2vh;
    border-radius: 20px;
    border-width: 0;
    background-color: #c495fd;
    color: black;
    padding: 0.5vh 0 0.5vh 0;
    margin: 4vh 0 2vh 0;
    float: right;
}

.submit:hover,
.submit:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: #755eb5;
}

.main-table {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    width: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

.sub-table {
    max-height: 50vh;
    background-color: rgb(43 52 57);
    border-radius: 1.5vh;
    overflow-y: auto;
}

.sub-table-scroll {
    height: 100%;
}

table {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

th {
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2vh;
    background-color: rgb(43 52 57);
}

.tr-sticky {
    position: sticky;
    top: 0;
    display: table-row;
}

.th-id {
    max-width: 25vh;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big-msg-amin {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(1 1 1 / 56%);
}

.big-msg-centered {
    background-color: #585858;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 3vh;
    border-radius: 2vh;
    font-size: 3vh;
}