@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #6ac1c5, #bda5ff);
  height: 100vh;
}

form {
  background-color: white;
  transform: translate(-50%, 0) scale(1.1);
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40vh;
  overflow: hidden;
  border-radius: 1vh;
}

.title {
  font-size: 3vh;
  text-align: center;
}

.container-rows:after {
  content: '';
  display: block;
}

div.container-rows {
  display: grid;
  justify-content: center;
}

div.container-rows label {
  flex-wrap: wrap;
  margin: 2vh 0 1vh 0;
  display: block;
  font-size: 2vh;
}

div.container-rows input {
  outline: none;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: gray;
  border-bottom-width: 0.25vh;
  width: 30vh;
  font-size: 2vh;
  background-color: rgba(0, 0, 0, 0);
}

.submit {
  width: 45%;
  font-size: 2vh;
  border-radius: 20px;
  border-width: 0;
  background-color: #a692e0;
  transform: translate(-50%, 0);
  position: relative;
  left: 50%;
  padding: 0.5vh 0 0.5vh 0;
  margin: 4vh 0 2vh 0;
}

.submit:hover,
.submit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: #755eb5;
}

.singin {
  width: 35%;
}

.register-info {
  font-size: 1.2vh;
  margin: 3% 0 0 12.5%;
}