@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  color: white;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #4a00a3, #0072f8);
  height: 100vh;
}

form {
  background-color: rgb(24, 26, 27);;
  transform: translate(-50%, 0) scale(1.1);
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40vh;
  overflow: hidden;
  border-radius: 1vh;
}

a {
  color: #3391ff;
}

.title {
  font-size: 3vh;
  text-align: center;
}

.container-rows:after {
  content: '';
  display: block;
}

div.container-rows {
  display: grid;
  justify-content: center;
}

div.container-rows label {
  flex-wrap: wrap;
  margin: 2vh 0 1vh 0;
  display: block;
  font-size: 2vh;
}

div.container-rows input {
  outline: none;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgb(84, 91, 94);
  border-bottom-width: 0.25vh;
  width: 30vh;
  font-size: 2vh;
  background-color: #2e2e2e;
  border-radius: 0.5vh;
}

.submit {
  width: 45%;
  font-size: 2vh;
  border-radius: 20px;
  border-width: 0;
  background-color: #c495fd;
  color: black;
  transform: translate(-50%, 0);
  position: relative;
  left: 50%;
  padding: 0.5vh 0 0.5vh 0;
  margin: 4vh 0 2vh 0;
}

.submit:hover,
.submit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: #755eb5;
}

.singin {
  width: 35%;
}

.register-info {
  font-size: 1.2vh;
  margin: 3% 12.5% 0 12.5%;
}

.register-error {
  font-size: 1.2vh;
  color: rgb(255, 0, 0);
  margin: 3% 12.5% 0 12.5%;
  display: none;
}

.emailpending {
  background-color: rgb(150, 255, 153);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 20%;
  left: 50%;
  max-width: 50vh;
  border-radius: 1vh;
  padding: 0.5vh 2vh 0.5vh 2vh;
  display: none;
}

h2 {
  font-size: 2.5vh;
}

.signuplock {
  padding: 1vh 4vh;
  width: 75vh;
  font-size: 2.5vh;

  background-color: white;
  transform: translate(-50%, 0) scale(1.1);
  position: absolute;
  top: 30%;
  left: 50%;
  overflow: hidden;
  border-radius: 1vh;
  display: none;
}