@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  background: linear-gradient(45deg, #6ac1c5, #bda5ff);
  height: 95vh;
}
.s1 {
  width: 25%;
  top: 27.5%;
  left: 37.5%;
  position: absolute;
  transform: scale(1.1);
}

.title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.container-columns {
  column-count: 2;
  column-gap: 10px;
  transform: scale(1.5);
}
.container-rows-f,
.container-rows-s {
  width: 100%;
  height: inherit;
  top: 0%;
}
.container-rows-f {
  transform: translate(-5%, 0);
}
.container-rows-s {
  transform: translate(5%, 0);
}
div.container-rows-f label,
div.container-rows-s input,
div.container-rows-s select {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
  width: calc(100% + 12px);
  font-family: "Josefin Sans", sans-serif;
}

input.login {
  font-size: 10px;
  transform: scale(1.5) translate(-35%, 0);
  border-radius: 20px;
  border-width: 0;
  background-color: #a692e0;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

input.login:hover,
input.login:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: #755eb5;
}

div.container-rows-s input,
div.container-rows-s select {
  border-color: #755eb5;
  border-radius: 5px;
  border-width: 1.5px;
}
