@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #6ac1c5, #bda5ff);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.c-button {
  border: 0.25vh solid #498386;
  width: 20vh;
  height: 20vh;
  font-size: 2vh;
  border-radius: 100%;
  background-size: 75% !important;
  background-position: center !important;
}

button:hover,
button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#ordenador {
  background: url(../images/comp_room.png) no-repeat;
}

#chromebook {
  background: url(../images/laptop_item.png) no-repeat;
}

[id="tablet carro 1"] {
  background: url(../images/tablet_item.png) no-repeat;
}

[id="tablet carro 2"] {
  background: url(../images/tablet_item.png) no-repeat;
}

#biblioteca {
  background: url(../images/library_room.png) no-repeat;
}

#capilla {
  background: url(../images/church_room.png) no-repeat;
}

section {
  width: 75%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10vh;
  justify-content: center;
}

h3 {
  transform: translate(-25%, 500%);
  text-align: center;
  width: 200%;
}

.title {
  left: 50%;
  transform: translate(-50%, -300%);
  position: absolute;
  font-size: 4vh;
}

#credits {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-account {
  position: absolute;
  grid-column: 2;
  transform: translate(-100%, 0);
  left: 100%;
  margin-left: -10vh;
  overflow: hidden;
  padding: 0.5vh 1.5vh 0 1.5vh;

  grid-row: 2;
}

.user-account img {
  flex: 50%;
  width: 2.5vh;
  height: 2.5vh;
  margin-top: 1vh;
  flex-basis: 0;
}

.user-account p {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1vh;
  flex: 50%;
  font-size: 3vh;
  margin-bottom: 0;
  width: max-content;
  flex-basis: auto;
}

.dropdown-button {
  display: flex;
}

.user-account:hover {
  -webkit-box-shadow: 0 3px 12px -4px rgba(0, 0, 0, 0.65);
  box-shadow: 0 3px 12px -4px rgba(0, 0, 0, 0.65);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  transform-origin: top right;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translate(-100%, 0);
  left: 100%;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.user-account:hover .dropdown-content {
  display: block;
}

.user-account:hover {
  overflow: visible;
}