@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #6ac1c5, #bda5ff);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.c-button {
  border: 0.25vh solid #498386;
  width: 20vh;
  height: 20vh;
  font-size: 2vh;
  border-radius: 100%;
  background-size: 75% !important;
  background-position: center !important;
}

button:hover,
button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
button#ordenador {
  background: url(../images/comp_room.png) no-repeat;
}
button#chromebook {
  background: url(../images/laptop_item.png) no-repeat;
}
button#tablet {
  background: url(../images/tablet_item.png) no-repeat;
}

#biblioteca {
  background: url(../images/library_room.png) no-repeat;
}

#musica {
  background: url(../images/music_room.png) no-repeat;
}

#capilla{
  background: url(../images/church_room.png) no-repeat;
}

section {
  width: 75%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10vh;
  justify-content: center;
}

h3 {
  transform: translate(-25%, 500%);
  text-align: center;
  width: 200%;
}

.title {
  left: 50%;
  transform: translate(-50%, -300%);
  position: absolute;
  font-size: 4vh;
}

#credits {
  position:absolute;
  bottom:0;
  right:0;
  font-size: 1.5vh;
}
